
@{
    ViewBag.Title = "ReportViewer";
}

<h2>Report Viewer</h2>

<iframe id="ifrmReportViewer" style="border-style: none; width: 1000px; height: 1000px; overflow:hidden;"  scrolling="no" 
          src="~/Reports/ReportView.aspx"  ></iframe>

